<div class="container-FLUID box">
  <h1 class="TEXT"> IPD Addmission </h1>
  </div>


<mat-tab-group>
  <mat-tab label="level 1">

    <ul class ="list">
      <li>
        12 Bed General Ward</li>

      <li>
        4 Bed Semi- Private 
      </li>
      <li>X- Ray Department.</li>
      <li>Matron Maintenance and Store.</li>
      <li>Accounts, Billing and Claim Department.</li>
        
        <li>Accounts, Billing and Claim Department.</li>
    </ul>

  </mat-tab>
  <mat-tab label="level 2">
<ul  class ="list">
  <li>Reception</li>
    <li>Cashier</li>
    <li>Casualty</li>
    <li>Sonography</li>
    <li>Five Consulting Rooms</li>
</ul>

  </mat-tab>
  <mat-tab label="level 3">
    <ul class ="list">
      <li>16 Bed Semi- Private Rooms</li>
      <li>4 Bed Private Rooms</li>
      <li>4 Bed Deluxe Rooms</li>
    </ul>

  </mat-tab>


<mat-tab label="level 4">
  <ul class ="list">
    <li>Operation Theatre 1</li>
    <li>Operation Theatre 2</li>
    <li>Labour Room</li>
    <li>Recovery Room</li>
    <li>Ophthalmic Operation Thetre</li>

  </ul>

</mat-tab>
</mat-tab-group>