<div class="container">
    <!-- No data message -->
    <p *ngIf="Room.length == 0" class="no-data text-center">There is no Room added yet!</p>
  
    <!-- Employee list -->
    <table class="table table-bordered" *ngIf="Room.length > 0">
      <thead class="table">
        <tr class="heading">
          <th scope="col">Room ID</th>
          <th scope="col">Room Type</th>
          <th scope="col">Total</th>
          <th scope="col center">Available</th>
          <th ></th>
          <!-- <th scope="col center">change</th> -->


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of Room; let i = index">
          <th scope="row">{{i}}</th>
          <td>{{room.RoomType}}</td>
          <td>{{room.TotalRoom}}</td>
          <td>{{room.AvailableRoom}}</td>
    

          <td class="text-center edit-block"  *ngIf="userIsAuthenticated">
            <span class="edit" [routerLink]="['editroom/', room._id]">
              <!-- <button type="button" class="btn btn-success btn-sm" >Edit</button> -->
              <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a edit icon">
                <mat-icon>edit</mat-icon>
              </button>
            </span>
            <span class="delete" (click)="removeMedicine(room, i)">
            <!-- <button type="button" class="btn btn-danger btn-sm">Delete</button> -->
            <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  

